<%- include('../layouts/adminHeader.ejs') %> 
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
       <div class="card">
        <div class="card-body">
            <form action="/admin/add-blog" method="POST">
                <div class=" form-group">
                    <label for="">Title</label>
                    <input type="text" name="title" id="" class=" form-control"><br>
                    <label for="">Body</label>
                    <textarea name="body" id="" class=" form-control"></textarea>
                </div>
                <button>Submit</button>
            </form>
        </div>
       </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  
<%- include('../layouts/adminFooter.ejs') %> 